canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}

.topleft {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}

#myCanvas{
  width: 500px;
  height: 500px;
}

#bottons, #text-fields{
  align-items: center;
}

#container {
  display: flex;
  flex-direction: column;
}

#title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 20px;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#left-col {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 500px;
}

#functionList p, #functionList input{
  display: inline;
  flex-direction: r
}

.fline{
  display: flex;
  flex-direction: row;
}

.fline span{
  font-size: 120%;
  width: 108px;
  text-align: center;
  border: 1px solid black
}

#text-fields p, #text-fields, input, #text-fields button{
  display: inline;
}
/*
#right-col {
  align-items: center;
} */
